html,
body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
    margin: 0;

    width: 100%;
    height: 100%;
    font: 16px/2 'Roboto Mono';
    background-color: #0d1326;
    color: white;
}

::-moz-selection { /* Code for Firefox */
  color: white;
  background: #FFD042;
}

::selection {
  color: white;
  background: #FFD042;
}

ul {
    list-style-type: square;
    padding: 0 1em;
}

li a {
    display: block;
    color: inherit;
    text-decoration: none;
    padding-left: 0.5em;
    border-radius: 0.15em;
}

li a:hover {
    background: #212530;
}

@media (max-width: 500px) {
    html,
    body {
        display: inherit !important;
        padding: 1em;
    }

    main {
        width: 100%;
    }
}

* {
    box-sizing: border-box;
}

.typewriter {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid orange; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation:
    typing 3.5s steps(40, end),
    blink-caret .75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* yup, i took this. */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange; }
}

.colour-text {
    background: linear-gradient(to right, #11998E 0%, #38ef7d 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: rainbow 5s ease infinite;
}

@keyframes rainbow { 
    from{filter: hue-rotate(0deg);}
    to{filter: hue-rotate(-360deg);}
}
