html,
body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
    margin: 0;
    scroll-behavior: smooth;

    width: 100%;
    height: 100%;
    font: 16px/2 'Roboto Mono';
    background-color: #0d1326;
    color: white;
}

::-moz-selection { /* Code for Firefox */
  color: white;
  background: orange;
}

::selection {
  color: white;
  background: orange;
}

h1 {
  font: 16/2 'Roboto Mono';
  font-weight: bold;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.errortxt {
  font-size: 11px;
}

ul {
    list-style-type: square;
    padding: 0 1em;
}

li a {
    display: block;
    color: inherit;
    text-decoration: none;
    padding-left: 0.5em;
    border-radius: 0.15em;
}

li a:hover {
    background: #212530;
}

li button {
    display: block;
    color: inherit;
    text-decoration: none;
    padding-left: 0.5em;
    border-radius: 0.15em;
    background-color: #0d1326;
    border: hidden;
}

li button:hover {
    background: #212530;
}

.card a {
  color: #FFD042;
  background-color: #1b1e26;
  font-size: 11px;
  display: inline-flex;
  position: relative;
}

.card a:hover{
  background-color: #1b1e26;
  text-decoration: none;
}

.card a:visited{
  color: #FFD042;
}

a:link {
  text-decoration: none;
}

a:visited {
  color: inherit;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  color: #f7c42a;
}

a:active {
  color: #e3b222;
  text-decoration: none;
}

.card {
  background-color: #1b1e26;
  font-size: 11px;
  display: flow-root;
}

.card-body {
  max-width: 295px;
}

@media (max-width: 500px) {
    html,
    body {
        display: inherit !important;
        padding: 1em;
    }

    main {
        width: 100%;
    }
}

* {
    box-sizing: border-box;
}

.typewriter {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid orange; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation:
    typing 3.5s steps(40, end),
    blink-caret .75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* yup, i took this. */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange; }
}
